.active {
  font-weight: bold;
  color: red;
}
nav {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: grey;
  font-family: Arial, sans-serif !important;
  font-size: 18px;
}

a:hover {
  color: blue;
}
