<form #form="ngForm" (ngSubmit)="buscarIndustrials()">
    <input
        type="text"
        name="terminoBusqueda"
        [(ngModel)]="terminoBusqueda"
        placeholder="Buscar el nom del industrial."
        required minlength="3"
    >
    <div *ngIf="form.controls['terminoBusqueda']?.invalid && form.controls['terminoBusqueda']?.touched">
        <small *ngIf="form.controls['terminoBusqueda']?.errors?.['required']">El terme de búsqueda és obligatori.</small>
        <small *ngIf="form.controls['terminoBusqueda']?.errors?.['minlength']">El terme de búsqueda deu tindre almeny 3 caràcters.</small>
    </div>

    <button type="submit" [disabled]="form.invalid" name="buscar">Buscar</button>

    <ul>
        <li *ngFor="let element of resultatBusqueda">
            <h3>{{ element.nom | meuUppercase}}</h3>
            <p>Telèfon: {{ element.telefon | meuTelefon }}</p>
            <p>{{ element.descripcio }}</p>
        </li>
    </ul>

</form>