@if (carregant()) {
  <div class="spinner-container">
    <div class="spinner"></div>
    <p>Carregant...</p>
  </div>
}

@else if (error()) {
  <div class="error">
    <p class="errortext">{{ error() }}</p>
    <button (click)="reintentar()">Tornar a intentar</button>
  </div>
}

@else {

  <cdk-virtual-scroll-viewport itemSize="100" style="height: 600px;">

    <div *cdkVirtualFor="let element of elements(); trackBy: trackById" id="element">
      <app-element-card [element]="element"></app-element-card>
    </div>

  </cdk-virtual-scroll-viewport>

}

